<a href="https://colab.research.google.com/github/SampritiMayra/Data_Analysis_prep/blob/main/ANN_implementation_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
!pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.54.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.2)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [4]:
import tensorflow as tf

In [5]:
print(tf.__version__)

2.12.0

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('/content/gdrive/MyDrive/Datasets/Churn_Modelling.csv')
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [8]:
# Divide the Dataset into independent and dependent features

X = df.iloc[:,3: 13]
Y= df.iloc[:, 13]

In [9]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [10]:
Y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [11]:
# Feature Engineering
# Encoding Categorical Values

Geography = pd.get_dummies(X['Geography'])
Geography.head()

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       1        0      0
3       1        0      0
4       0        0      1

In [12]:
Gender = pd.get_dummies(X['Gender'])
Gender.head()

   Female  Male
0       1     0
1       1     0
2       1     0
3       1     0
4       1     0

In [13]:
# concatenate these variables with the dataframe

X= X.drop(['Gender', 'Geography'], axis = 1)

In [14]:
X = pd.concat([X,Geography,Gender], axis = 1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [15]:
from sklearn.model_selection import train_test_split #to split the dataset for training and testing
train_x, test_x, train_y, test_y = train_test_split(X,Y,test_size=0.2,random_state=0)
train_x.shape, train_y.shape

((8000, 13), (8000,))

In [16]:
# Feature scaling
# Usually in case of ANN, StandardScaler is used. Min-Max scaler is used in case of CNN
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(train_x)
X_test = sc.transform(test_x)

In [17]:
# Now creating the ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU,ReLU
from tensorflow.keras.layers import Dropout

In [47]:
# Let's initialize the ANN 
model = Sequential()

In [48]:
# Adding the input layer
model.add(Dense(units = 11, activation = 'relu'))

In [49]:
# Adding the first hidden layer
model.add(Dense(units = 7, activation = 'relu'))

In [50]:
# Adding the second hidden layer
model.add(Dense(units = 6, activation = 'relu'))

In [51]:
# Adding the output layer
model.add(Dense(units = 1, activation = 'sigmoid'))

In [52]:
# We're using Adam optimizer since it works the best 
# for loss function we're using binary_crossentropy because the problem we're solving is a binary classification.
model.compile(optimizer = 'adam', loss ='binary_crossentropy', metrics = ['accuracy'])

In [53]:
# We can also set the learning rate
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)
#classifier.compile(optimizer = opt, loss ='binary_crossentropy', metrics = ['accuracy'])

In [55]:
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint
from keras.models import load_model

In [56]:
# Implementation of early stopping and Saving best model
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=20)
mc = ModelCheckpoint('best_model.h5', monitor='val_accuracy', mode='max', verbose=1, save_best_only=True)

In [57]:
# Let's fit the model
model_history = model.fit(X_train, train_y, validation_split = 0.33, batch_size = 10,
                               epochs = 1000,callbacks = [es, mc])

Epoch 1/1000
525/536 [============================>.] - ETA: 0s - loss: 0.5391 - accuracy: 0.7539
Epoch 1: val_accuracy improved from -inf to 0.79856, saving model to best_model.h5
536/536 [==============================] - 5s 5ms/step - loss: 0.5399 - accuracy: 0.7535 - val_loss: 0.4684 - val_accuracy: 0.7986
Epoch 2/1000
528/536 [============================>.] - ETA: 0s - loss: 0.4295 - accuracy: 0.8112
Epoch 2: val_accuracy improved from 0.79856 to 0.81257, saving model to best_model.h5
536/536 [==============================] - 2s 4ms/step - loss: 0.4281 - accuracy: 0.8117 - val_loss: 0.4183 - val_accuracy: 0.8126
Epoch 3/1000
525/536 [============================>.] - ETA: 0s - loss: 0.3920 - accuracy: 0.8347
Epoch 3: val_accuracy improved from 0.81257 to 0.83188, saving model to best_model.h5
536/536 [==============================] - 2s 4ms/step - loss: 0.3904 - accuracy: 0.8354 - val_loss: 0.3920 - val_accuracy: 0.8319
Epoch 4/1000
534/536 [============================>.] - ETA: 0s - loss: 0.3696 - accuracy: 0.8466
Epoch 4: val_accuracy improved from 0.83188 to 0.84173, saving model to best_model.h5
536/536 [==============================] - 3s 5ms/step - loss: 0.3697 - accuracy: 0.8466 - val_loss: 0.3777 - val_accuracy: 0.8417
Epoch 5/1000
528/536 [============================>.] - ETA: 0s - loss: 0.3584 - accuracy: 0.8519
Epoch 5: val_accuracy improved from 0.84173 to 0.84286, saving model to best_model.h5
536/536 [==============================] - 5s 9ms/step - loss: 0.3583 - accuracy: 0.8524 - val_loss: 0.3708 - val_accuracy: 0.8429
Epoch 6/1000
526/536 [============================>.] - ETA: 0s - loss: 0.3514 - accuracy: 0.8530
Epoch 6: val_accuracy improved from 0.84286 to 0.84627, saving model to best_model.h5
536/536 [==============================] - 3s 5ms/step - loss: 0.3501 - accuracy: 0.8537 - val_loss: 0.3739 - val_accuracy: 0.8463
Epoch 7/1000
526/536 [============================>.] - ETA: 0s - loss: 0.3447 - accuracy: 0.8563
Epoch 7: val_accuracy did not improve from 0.84627
536/536 [==============================] - 3s 5ms/step - loss: 0.3469 - accuracy: 0.8548 - val_loss: 0.3679 - val_accuracy: 0.8440
Epoch 8/1000
532/536 [============================>.] - ETA: 0s - loss: 0.3450 - accuracy: 0.8556
Epoch 8: val_accuracy did not improve from 0.84627
536/536 [==============================] - 3s 5ms/step - loss: 0.3439 - accuracy: 0.8563 - val_loss: 0.3649 - val_accuracy: 0.8459
Epoch 9/1000
532/536 [============================>.] - ETA: 0s - loss: 0.3417 - accuracy: 0.8605
Epoch 9: val_accuracy improved from 0.84627 to 0.85081, saving model to best_model.h5
536/536 [==============================] - 3s 6ms/step - loss: 0.3420 - accuracy: 0.8604 - val_loss: 0.3647 - val_accuracy: 0.8508
Epoch 10/1000
526/536 [============================>.] - ETA: 0s - loss: 0.3388 - accuracy: 0.8586
Epoch 10: val_accuracy did not improve from 0.85081
536/536 [==============================] - 3s 5ms/step - loss: 0.3396 - accuracy: 0.8586 - val_loss: 0.3698 - val_accuracy: 0.8436
Epoch 11/1000
522/536 [============================>.] - ETA: 0s - loss: 0.3408 - accuracy: 0.8594
Epoch 11: val_accuracy did not improve from 0.85081
536/536 [==============================] - 2s 4ms/step - loss: 0.3387 - accuracy: 0.8604 - val_loss: 0.3646 - val_accuracy: 0.8501
Epoch 12/1000
530/536 [============================>.] - ETA: 0s - loss: 0.3361 - accuracy: 0.8611
Epoch 12: val_accuracy did not improve from 0.85081
536/536 [==============================] - 2s 5ms/step - loss: 0.3374 - accuracy: 0.8604 - val_loss: 0.3641 - val_accuracy: 0.8497
Epoch 13/1000
524/536 [============================>.] - ETA: 0s - loss: 0.3360 - accuracy: 0.8595
Epoch 13: val_accuracy did not improve from 0.85081
536/536 [==============================] - 2s 4ms/step - loss: 0.3347 - accuracy: 0.8606 - val_loss: 0.3652 - val_accuracy: 0.8504
Epoch 14/1000
530/536 [============================>.] - ETA: 0s - loss: 0.3355 - accuracy: 0.8594
Epoch 14: val_accuracy did not improve from 0.85081
536/536 [==============================] - 3s 6ms/step - loss: 0.3344 - accuracy: 0.8602 - val_loss: 0.3646 - val_accuracy: 0.8508
Epoch 15/1000
534/536 [============================>.] - ETA: 0s - loss: 0.3324 - accuracy: 0.8620
Epoch 15: val_accuracy improved from 0.85081 to 0.85384, saving model to best_model.h5
536/536 [==============================] - 3s 6ms/step - loss: 0.3328 - accuracy: 0.8615 - val_loss: 0.3632 - val_accuracy: 0.8538
Epoch 16/1000
535/536 [============================>.] - ETA: 0s - loss: 0.3320 - accuracy: 0.8621
Epoch 16: val_accuracy did not improve from 0.85384
536/536 [==============================] - 2s 4ms/step - loss: 0.3325 - accuracy: 0.8619 - val_loss: 0.3640 - val_accuracy: 0.8538
Epoch 17/1000
533/536 [============================>.] - ETA: 0s - loss: 0.3311 - accuracy: 0.8614
Epoch 17: val_accuracy improved from 0.85384 to 0.85612, saving model to best_model.h5
536/536 [==============================] - 3s 5ms/step - loss: 0.3308 - accuracy: 0.8615 - val_loss: 0.3627 - val_accuracy: 0.8561
Epoch 18/1000
527/536 [============================>.] - ETA: 0s - loss: 0.3289 - accuracy: 0.8615
Epoch 18: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3294 - accuracy: 0.8615 - val_loss: 0.3634 - val_accuracy: 0.8538
Epoch 19/1000
527/536 [============================>.] - ETA: 0s - loss: 0.3294 - accuracy: 0.8607
Epoch 19: val_accuracy did not improve from 0.85612
536/536 [==============================] - 3s 5ms/step - loss: 0.3297 - accuracy: 0.8606 - val_loss: 0.3635 - val_accuracy: 0.8516
Epoch 20/1000
533/536 [============================>.] - ETA: 0s - loss: 0.3297 - accuracy: 0.8617
Epoch 20: val_accuracy did not improve from 0.85612
536/536 [==============================] - 3s 6ms/step - loss: 0.3290 - accuracy: 0.8621 - val_loss: 0.3641 - val_accuracy: 0.8557
Epoch 21/1000
521/536 [============================>.] - ETA: 0s - loss: 0.3269 - accuracy: 0.8635
Epoch 21: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3288 - accuracy: 0.8630 - val_loss: 0.3654 - val_accuracy: 0.8554
Epoch 22/1000
526/536 [============================>.] - ETA: 0s - loss: 0.3289 - accuracy: 0.8624
Epoch 22: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3288 - accuracy: 0.8625 - val_loss: 0.3680 - val_accuracy: 0.8493
Epoch 23/1000
526/536 [============================>.] - ETA: 0s - loss: 0.3277 - accuracy: 0.8627
Epoch 23: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 5ms/step - loss: 0.3281 - accuracy: 0.8623 - val_loss: 0.3653 - val_accuracy: 0.8546
Epoch 24/1000
536/536 [==============================] - ETA: 0s - loss: 0.3285 - accuracy: 0.8632
Epoch 24: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3285 - accuracy: 0.8632 - val_loss: 0.3650 - val_accuracy: 0.8516
Epoch 25/1000
533/536 [============================>.] - ETA: 0s - loss: 0.3275 - accuracy: 0.8645
Epoch 25: val_accuracy did not improve from 0.85612
536/536 [==============================] - 3s 7ms/step - loss: 0.3276 - accuracy: 0.8645 - val_loss: 0.3660 - val_accuracy: 0.8527
Epoch 26/1000
532/536 [============================>.] - ETA: 0s - loss: 0.3271 - accuracy: 0.8645
Epoch 26: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3263 - accuracy: 0.8651 - val_loss: 0.3710 - val_accuracy: 0.8421
Epoch 27/1000
523/536 [============================>.] - ETA: 0s - loss: 0.3282 - accuracy: 0.8639
Epoch 27: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 5ms/step - loss: 0.3271 - accuracy: 0.8642 - val_loss: 0.3662 - val_accuracy: 0.8527
Epoch 28/1000
528/536 [============================>.] - ETA: 0s - loss: 0.3270 - accuracy: 0.8642
Epoch 28: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3269 - accuracy: 0.8638 - val_loss: 0.3745 - val_accuracy: 0.8413
Epoch 29/1000
535/536 [============================>.] - ETA: 0s - loss: 0.3257 - accuracy: 0.8649
Epoch 29: val_accuracy did not improve from 0.85612
536/536 [==============================] - 3s 5ms/step - loss: 0.3256 - accuracy: 0.8649 - val_loss: 0.3700 - val_accuracy: 0.8535
Epoch 30/1000
528/536 [============================>.] - ETA: 0s - loss: 0.3273 - accuracy: 0.8634
Epoch 30: val_accuracy did not improve from 0.85612
536/536 [==============================] - 3s 6ms/step - loss: 0.3268 - accuracy: 0.8638 - val_loss: 0.3681 - val_accuracy: 0.8504
Epoch 31/1000
535/536 [============================>.] - ETA: 0s - loss: 0.3261 - accuracy: 0.8639
Epoch 31: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3260 - accuracy: 0.8640 - val_loss: 0.3680 - val_accuracy: 0.8493
Epoch 32/1000
529/536 [============================>.] - ETA: 0s - loss: 0.3246 - accuracy: 0.8648
Epoch 32: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3258 - accuracy: 0.8643 - val_loss: 0.3690 - val_accuracy: 0.8512
Epoch 33/1000
527/536 [============================>.] - ETA: 0s - loss: 0.3240 - accuracy: 0.8641
Epoch 33: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 4ms/step - loss: 0.3252 - accuracy: 0.8640 - val_loss: 0.3681 - val_accuracy: 0.8538
Epoch 34/1000
526/536 [============================>.] - ETA: 0s - loss: 0.3240 - accuracy: 0.8656
Epoch 34: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 5ms/step - loss: 0.3254 - accuracy: 0.8653 - val_loss: 0.3690 - val_accuracy: 0.8523
Epoch 35/1000
529/536 [============================>.] - ETA: 0s - loss: 0.3262 - accuracy: 0.8650
Epoch 35: val_accuracy did not improve from 0.85612
536/536 [==============================] - 3s 6ms/step - loss: 0.3252 - accuracy: 0.8653 - val_loss: 0.3682 - val_accuracy: 0.8501
Epoch 36/1000
529/536 [============================>.] - ETA: 0s - loss: 0.3247 - accuracy: 0.8647
Epoch 36: val_accuracy did not improve from 0.85612
536/536 [==============================] - 3s 5ms/step - loss: 0.3251 - accuracy: 0.8649 - val_loss: 0.3684 - val_accuracy: 0.8538
Epoch 37/1000
527/536 [============================>.] - ETA: 0s - loss: 0.3245 - accuracy: 0.8636
Epoch 37: val_accuracy did not improve from 0.85612
536/536 [==============================] - 2s 5ms/step - loss: 0.3244 - accuracy: 0.8640 - val_loss: 0.3675 - val_accuracy: 0.8542
Epoch 37: early stopping

In [61]:
saved_model = load_model('best_model.h5')

In [70]:
# Making the predictions and evaluating the model

y_pred = saved_model.predict(X_test)
y_pred = (y_pred >= 0.5)

63/63 [==============================] - 0s 2ms/step

In [72]:
# Make the confusion matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(test_y, y_pred)
cm

array([[1490,  105],
       [ 186,  219]])

In [73]:
# Calculate the accuracy 
from sklearn.metrics import accuracy_score
score = accuracy_score(test_y, y_pred)
score

0.8545

In [74]:
train_acc = saved_model.evaluate(train_x, train_y, verbose=1)
test_acc = saved_model.evaluate(test_x, test_y, verbose=1)
print('Train: %.3f, Test: %.3f', (train_acc, test_acc))

250/250 [==============================] - 1s 3ms/step - loss: 20155.9473 - accuracy: 0.4681
63/63 [==============================] - 0s 3ms/step - loss: 20719.5664 - accuracy: 0.4525
Train: %.3f, Test: %.3f ([20155.947265625, 0.46812498569488525], [20719.56640625, 0.45249998569488525])